@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Frijole&family=Kranky&family=Lobster&family=Merienda:wght@300..900&family=Mystery+Quest&family=Pacifico&family=Ponnala&family=Teko:wght@300..700&display=swap");

.lobster-regular {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
}

.ponnala-regular {
  font-family: "Ponnala", serif;
  font-weight: 400;
  font-style: normal;
}

.merienda-regular {
  font-family: "Merienda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.frijole-regular {
  font-family: "Frijole", serif;
  font-weight: 400;
  font-style: normal;
}

.kranky-regular {
  font-family: "Kranky", serif;
  font-weight: 1200;
  font-style: normal;
}

.mystery-quest-regular {
  font-family: "Mystery Quest", serif;
  font-weight: 400;
  font-style: normal;
}

.teko-regular {
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.caveat-regular {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
